@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #202020;
  background: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
ul {
  margin: 0;
  padding: 0;
}
